body {
  background: #f9f9f9;
}

.container-main {
  margin-top: 2rem;
}

.list-unstyled {
  li {
    display: block;
  }
}

.list-inline {
  li {
    display: inline-block;
    padding-right: 0.5em;

    &:last-child {
      padding-right: 0;
    }
  }
}

.popover {
  &.bottom {
    @extend .popover-bottom;
  }

  .arrow {
    @extend .popover-arrow;
  }

  &-menu {
    margin: 0;
  }
}

.sidebar {
  &-title {
    font-size: 1.25rem;
  }
}