body {
  background: #f9f9f9;
}

.container-main {
  margin-top: 2rem;
}

.list-unstyled {
  li {
    display: block;
  }
}

.list-inline {
  li {
    display: inline-block;
    padding-right: 0.5em;

    &:last-child {
      padding-right: 0;
    }
  }
}

.popover {
  &.bottom {
    @extend .popover-bottom;
  }

  .arrow {
    @extend .popover-arrow;
  }

  &-menu {
    margin: 0;
  }
}

.sidebar {
  &-title {
    border-bottom: 1px solid #f2f2f2;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }

  &-menu {
    font-size: 0.85rem;
    color: #999;

    a {
      color: #999;
    }
  }
}